* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 500px;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  min-height: 68px;
  width: 100vw;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  color: #b9ff66;
}

nav li:first-child {
  margin-right: auto;
}

nav button {
  height: 68px;
  width: 231px;
  border-radius: 14px;
  background-color: white;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
}

nav button:hover {
  background-color: #b9ff66;
}

.nav-logo {
  height: 23px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.section-1 {
  width: 100vw;
}

.section-1 img {
  max-width: 429px;
  max-height: 310px;
}

.section-1 h1 {
  text-align: left;
  line-height: 50px;
  font-size: 35px;
  color: #000000;
  max-width: 390px;
  max-height: 165px;
  margin-top: 10px;
}

.section-1 p {
  line-height: 28px;
  font-size: 20px;
}

.section-1 button {
  background-color: #191a23;
  color: #ffffff;
  min-width: 390px;
  min-height: 68px;
  border-radius: 14px;
  font-size: 20px;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}

.heading {
  display: grid;
  justify-items: center;
  margin-top: 39px;
}

.heading h2 {
  background-color: #b9ff66;
  max-width: 161px;
  max-height: 46px;
  padding: 0 7px 0 7px;
  border-radius: 4px;
}

.heading p {
  margin-top: 30px;
  line-height: 28px;
  text-align: center;
}

.heading .studies {
  max-width: 240px;
  max-height: 46px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 60px;
  overflow: hidden;
}

.box {
  background-color: #f3f3f3;
  border-radius: 45px;
  border: 1px solid #191a23;
  border-bottom: 5px solid black;
  min-height: 322px;
  position: relative;
  margin-top: 30px;
}

.box h3 {
  position: absolute;
  background-color: #b9ff66;
  border-radius: 7px;
  top: 50px;
  left: 50px;
  padding: 0 7px 0 7px;
}
.second-header {
  margin-top: 23px;
  border-radius: 7px;
  padding: 0 7px 0 7px;
}
.box .img-1 {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.img-2 {
  max-width: 165px;
  max-height: 129px;
}

.box .img-2 {
  position: absolute;
  right: 40px;
  bottom: 50px;
}

.box-2 {
  background-color: #b9ff66;
  border-radius: 45px;
  border: 1px solid #191a23;
  border-bottom: 5px solid black;
  min-height: 322px;
  position: relative;
  margin-top: 30px;
}

.box-2 h3 {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 0 7px 0 7px;
}

.box-2 .img-1 {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.box-2 .img-2 {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.box-3 {
  background-color: #191a23;
  border-radius: 45px;
  border: 1px solid #191a23;
  border-bottom: 5px solid #191a23;
  min-height: 322px;
  position: relative;
  margin-top: 30px;
}

.box-3 h3 {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 0 7px 0 7px;
}

.box-3 .img-1 {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.box-3 .img-2 {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.box-4 {
  background-color: #f3f3f3;
  margin-top: 70px;
  border-radius: 45px;
  min-height: 370px;
  padding: 50px;
  
  
}

.box-4 button {
  background-color: #191a23;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  max-height: 4.25rem;
  max-width: 18.125rem;
  padding: 20px;
  border-radius: 14px;
  border: none;
  margin-top: 20px;
}



.box-4 h3 {
  font-size: 28px;
}

.box-4 p {
  line-height: 28px;
  font-size: 20px;
  margin-top: 20px;
}

.heading-2 .studies {
  background-color: #b9ff66;
  max-height: 46px;
  max-width: 240px;
  border-radius: 7px;
  margin-top: 60px;
}

.heading-2 p {
  text-align: center;
}

.heading-2 h2 {
  background-color: #b9ff66;
  display: inline-block;
  margin: auto;
}

.slider-container-1{
  margin-top: 40px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: grid;
  justify-content: flex-start;
  padding: 20px 0;
  scroll-behavior: smooth;
}

.card-slider {
  display: flex;
  gap: 10px; /* Spacing between the cards */
}

.slider-container-1 .card-1{
background-color: #191a23;
color: #ffffff;
min-width: 350px;
min-height: 252px;
border-radius: 45px;
padding: 42px;
scroll-snap-align: start;

}

.slider-container-1 img{
  margin-top: 20px;
  cursor: pointer;
}

.slider-container-1 p {
  line-height: 28px;
  font-size: 20px;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

@media (min-width: 800px) {
  #menuIcon {
    display: none;
  }
}
